---
title: Ciorbe
image_view: true
---

<h1>Ciorbe</h1><br>


<section class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'ciorbe' %}
    <article class="post">
        {% include post-heading.html post=post %}
        <div class="image">
            <img src="{{ post.featured_image }}" alt="{{ post.title }}" />
        </div>

        <!-- {{ post.excerpt }} -->

        <p>
            <a class="button" href="{{ site.baseurl }}{{ post.url }}">Citeste</a>
        </p>
    </article>
    {% endif %}
    {% endfor %}
</section>