---
title: Paste
image_view: true
---
<h1>Paste</h1>


{% assign filterCategory = "paste" %}

{% for tag in site.categories %}
    {% assign postsInCategory = "" | split: "/" %}

    {% for post in tag[1] %}
        {% if post.categories contains filterCategory %}
            {% assign postsInCategory = postsInCategory | push: post %}
        {% endif %}
    {% endfor %}

    {% if postsInCategory.size > 0 %}
		<h2>{{ tag[0] }}</h2>
		<div class="recipes">
			{% for post in postsInCategory %}
				<div class="recipe" style="background-image: url('{{ post.featured_image }}')">
					<a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a>
				</div>
		</div>
        {% endfor %}
    {% endif %}
{% endfor %}
